<div class="form-inline my-2 my-lg-0 ml-auto" *ngIf="!(isLogIn | async)">
    <a class="nav-link text-white" href="http://localhost:4200/taskplanner/user/add">Sign Up</a>
    <a class="nav-link text-white" href="http://localhost:4200/taskplanner/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
</div>

